/* CloseAppointmentModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.appointment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-buttons button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-buttons button:hover {
    background-color: #357ab7;
}

.close-appointment-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-appointment-button:hover {
    background-color: #218838;
}


/* CloseAppointmentModal.css */

/* Estilo del botón "Cerrar Cita" en celeste */
.close-appointment-button {
    padding: 10px;
    background-color: #4C9ED9; /* Celeste */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-appointment-button:hover {
    background-color: #3991c6; /* Celeste más oscuro en hover */
}
